body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#characterDisplay img {
    max-width: 100%;
    /* Limit the height of the image */
    border-radius: 8px;
    margin: 10px 0;
}

#characterDisplay p {
    /* Limit the height of the text */
    overflow-y: auto; /* Add a scrollbar if the text is too long */
    text-align: left;
}

#navigationButtons {
    margin-top: 15px;
}
